/* grid css */
.grid-container {
    height: 450px;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left right";
    grid-gap: 10px,10px;
}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1.3fr 1.65fr;
    grid-template-areas: "menu""video""timelines";
    grid-area: left;
    /* grid-gap: 5px; */
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menu-box";
    grid-area: menu;
}

.menu-box {
    grid-area: menu-box;
}

.video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "video-box";
    grid-area: video;
}

.video-box {
    grid-area: video-box;
    margin:0;
    padding: 0;
    /* border: 1px dotted black; */
    text-align: center;
}

.timelines {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "timelines-box";
    grid-area: timelines;
}

.timelines-box {
    grid-area: timelines-box;
}

.timelineholder{
    text-align:center;
    margin:auto; 
    display:block;
}

.right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.6fr 0.8fr 1.3fr;
    grid-template-areas: "search""annotations""tags""filter";
    grid-area: right;
}

.annotations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "annotations-box";
    grid-area: annotations;
}

.annotations-box {
    grid-area: annotations-box;
}

.tags {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tags-table";
    grid-area: tags;
}

.tags-table {
    grid-area: tags-table;
}
.search {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "search-bar";
    grid-area: search;
}

.search-bar {
    grid-area: search-bar;
}

.filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "filter-box";
    grid-area: filter;
}

.filter-box {
    grid-area: filter-box;
}


/* form css*/
form {
    margin: 0;
    /* padding: 10px 10px; */
    padding: 0;
    /* border: 1px dotted black; */
    background-color: white

}

/*table css*/
table {
    width: 100%;
    height: 180px;
    /* border: 1px dotted black; */
}

tbody {
    display: block;
    height: 180px;
    padding-left:10px; 
    padding-right:10px;
    overflow: auto;
}

thead,tbody tr {
    display: table;
    width: 100%;
    /* table-layout: fixed; */
}

thead {
    width: calc(100% - 1em);
    height: 10px;
}

tr{
    height: 20px;
}
tr:hover {
    background-color: #f5f5f5;
}

/* list*/
ul {
    list-style: none;
    max-height: 400px;
    /* margin: 0; */
    overflow: auto;
    /* padding: 0;
    text-indent: 10px; */
}

/* .side-nav a {
    line-height: 15px !important;
}

.side-nav.fixed a {
    line-height: 15px !important;
}

.collapsible-header {
    min-height: 2rem;
} */

/* li {
    line-height: 5px !important;
} */


/* .collapsible-header {
    height: 35px;
    font-size: 13px;
} */
    /* justify-content: space-between; */
    /* font: size 2px;
    text-align:center; */


.collapsible-body{
    height: 140px;
}
/* li:nth-child(even) {
    background: #ccc;
} */

.collapsible li.active i:nth-child(2) {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform-origin: center;
    transform: rotate(180deg);
}

.rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.collapsible-header {
    height: 40px;
    justify-content: space-between;
}

/* d3 css */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

#acttooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    pointer-events: none;
  }
  

/* slider */

/* .ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}

.ui-slider-handle {
    width: 35px !important;
    font-size: small !important;
    color: #FF0000 !important;
    text-align: center !important;
} */

#parent {
    list-style: none;
    width: 100%;
    /* height: 90px; */
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#parent>li {
    display: inline-block;
    width: 200px;
    height: 100%;
}

/* #parent>li:nth-child(even) {
    background-color: blue;
} */


/* d3 stuff */

svg {
    font: 10px sans-serif;
}

.area {
    fill: #B4B4B4;
    opacity: .8;
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: black;
    fill: white;
    fill-opacity: .6;
    shape-rendering: crispEdges;
}
#emotooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    pointer-events: none;
  }
  
